.tooltip {
    width: 160px;
    text-align: center;
    position: absolute;
    visibility: hidden;
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid black;
}

.tooltip.active {
    visibility: visible;
}

.athlete-group text {
    font-size: 10px;
}
.athlete {
    fill: green;
}
.athlete.doping {
    fill: red;
}
.athlete.active {
    fill-opacity: 0.5;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}